<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, unitial-scale=1.0">
        <link rel="stylesheet" href="/assets/semantic/semantic.css">
        <link rel="stylesheet" href="/assets/style.css">
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/semantic/semantic.js"></script>
        <title>Gestion des notes</title>
    </head>

    <body>

        <!--- side bar --->
            <%- include('sidebar'); -%>
        <!--- side bar --->

        <!--- top nav --->
        <nav class="ui top fixed inverted menu">
            <div class="left menu">
                <a href="#" class="siderbar-menu-togglar item" data-target="#sideber">
                    <i class="sidebar icon"></i>
                </a>
                <a href="#" class="header item">
                    GESTION DES NOTES
                </a>
            </div>
            <div class="right menu">
                <a href="#" class="item">
                    <i class="bell icon"></i>
                </a>
                <div class="ui dropdown item">
                    <i class="ui user circle icon"></i>
                    <div class="menu">
                        <a href="#" class="item">
                            <i class="info circle icon"></i> Profile
                        </a>
                        <a href="#" class="item">
                            <i class="wrench icon"></i> Paramètres
                        </a>
                        <a href="#" class="item">
                            <i class="sign-out icon"></i> Logout
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!--- top nav --->

        <!--- section --->

        <div class="pusher" style="margin-left: 20px; margin-right: 20px;"><br>
            <div class="main-content">
                <h1 style="text-align: center;"><i class="icon cog "></i> Test modal</h1><br>
                    
                    <button class="ui button green" onclick="openModal()">Open modal</button>     
                    
                <div class="ui message">
                    <div class="header">
                        Message
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quos.</p>
                </div>
                
            </div>
        </div>

        <div class="id main">
            <div class="ui mini modal" id="modal">
                <div class="ui header">Message d'alerte !</div>

                    <div class="content">
                        <form action="/enregistrer" method="post" class="ui form">
                            <div class="field">
                                <label>N° Inscription :</label>
                                <input type="text" name="num" placeholder="Entrez votre numéro..." required>
                            </div>
                            <div class="field">
                                <label>Nom :</label>
                                <input type="text" name="nom" placeholder="Entrez votre nom..." required>
                            </div>
                            <button class="ui button blue" type="submit"><i class="ui icon save"></i> Enregistrer</button>
                            <a href="/semantic_modal" class="ui button orange" type="submit"><i class="ui icon close"></i> Annuler</a>
                        </form>
                    </div>
                
            </div>
        </div> 
        
        <!--- section --->

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/semantic/semantic.js"></script>
        <script src="/assets/script.js"></script>

        <script>
            function openModal() {
                $("#modal").modal("show");
            }
        </script>

    </body>
</html>

