<div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar"><br>
    <div class="item">
        <div class="header">General</div>
        <div class="menu">
            <a href="/menu_principal" class="item">
                <div>
                    <i class="icon home"></i> Menu principal
                </div>
            </a>
        </div> 
    </div>
    <div class="item">
        <div class="header">Gestion Etudiants</div>
        <div class="menu">
            <a href="/listes_etudiant" class="item">
                <div>
                    <i class="icon address card"></i> Listes des étudiants 
                </div>
            </a>
            <a href="/ajout_etudiant" class="item">
                <div>
                    <i class="icon user plus"></i> Ajouter étudiants
                </div>
            </a>
        </div> 
    </div>
    
    <div class="item">
        <div class="header">Gestion Matières</div>
        <div class="menu">
            <a href="/listes_matiere" class="item">
                <div>
                    <i class="icon th list"></i> Listes des matières 
                </div>
            </a>
            <a href="/ajout_matiere" class="item">
                <div>
                    <i class="icon plus square"></i> Ajouter matières
                </div>
            </a>
        </div> 
    </div>

    <div class="item">
        <div class="header">Gestion des Notes</div>
        <div class="menu">
            <a href="/listes_note" class="item">
                <div>
                    <i class="icon file alternate"></i> Listes des notes 
                </div>
            </a>
            <a href="/ajout_note" class="item">
                <div>
                    <i class="icon plus square"></i> Ajouter notes
                </div>
            </a>
        </div> 
    </div>

    <a href="/bulletin_de_note" class="item">
        <div>
            <i class="icon folder open"></i> Bulletin Etudiants
        </div>
    </a>
    <a href="classement_etudiant" class="item">
        <div>
            <i class="icon users"></i> Classement Etudiants
        </div>
    </a>
    <a href="statistique_etudiant" class="item">
        <div>
            <i class="icon chart line"></i> Statistiques Etudiants
        </div>
    </a>         
</div>